<!DOCTYPE html>
<html>
    <head>
        <title>
            Qpilot_update_tools
        </title>
    </head>
    <boby>
        <h1>
            登录页面
        </h1>
        <form action="https://www.baidu.com" method="get" ></form>
            <p>
                用户名<input type="text" name="username" width="300" height="300" size="20">
            </p>
            <p>
                密码&nbsp;&nbsp;&nbsp;&nbsp;<input type="password" name="pwd" width="300" height="300">
            </p>
            <p>
                <input type="submit">
                <input type="reset">
            </p>        
    </boby>


</html>