<!DOCTYPE html>
<html>
	<head>
		<title>Qpilot update tools</title>
	        <link rel="stykesheet" href="../static/css/update.css">
	</head>
	<body>
		<dir class="img">
			<h1><<这是一个更新版本的一个工具>></h1>
		</dir>
		<dir class="methods">
			<select class="select", name="test1">
				<option value="title">==>这里选择版本<==</option>
				<option value="1">==>qpilot<==</option>
				<option value="2">==>qpilot-setup<==</option>
				<option value="3">==>qomolo-gcs-scripts<==</option>
				<option value="4">==>qomolo-sys-monitor<==</option>
			</select>
		</dir>
	</body>
</html>
