[Unit]
Description=hw-parameter
Documentation=man:hw-parameter
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/bin/bash  /opt/qomolo/utils/qpilot_setup/tools/lock.sh
[Install]
WantedBy=multi-user.target